<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated library -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.ecsoya.eclipse.tutorial.library.presentation.LibraryModelWizardID"
            name="%_UI_LibraryModelWizard_label"
            class="org.ecsoya.eclipse.tutorial.library.presentation.LibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LibraryModelFile.gif">
         <description>%_UI_LibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated library -->
      <editor
            id="org.ecsoya.eclipse.tutorial.library.presentation.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            extensions="library"
            class="org.ecsoya.eclipse.tutorial.library.presentation.LibraryEditor"
            contributorClass="org.ecsoya.eclipse.tutorial.library.presentation.LibraryActionBarContributor">
      </editor>
   </extension>

</plugin>
