<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.ecsoya.eclipse.tutorial.editor.editors.XMLEditor"
            id="org.ecsoya.eclipse.tutorial.editor.editors.XMLEditor">
      </editor>
      <editor
            class="org.ecsoya.eclipse.tutorial.editor.sample.SampleEditor"
            contributorClass="org.ecsoya.eclipse.tutorial.editor.sample.SampleEditorActionBarContributor"
            default="false"
            extensions="txt"
            id="org.ecsoya.eclipse.tutorial.editor.sample"
            name="Sample Editor">
      </editor>
   </extension>

</plugin>
