---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="../stylesheets/core.css" media="screen">
    <link rel="stylesheet" href="../stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
	<link rel="stylesheet" href="../stylesheets/pageguide.min.css">
	<script type="text/javascript" src="../javascripts/pageguide.min.js"></script>
    <script type="text/javascript" src="../javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/headsmart.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var pageguide = tl.pg.init();
        });
    </script>
    <title>{{title}}</title>
  </head>

  <body>
    <a id="forkme_banner" href="https://github.com/ecsoya/eclipse.tutorial">View on GitHub</a>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>Eclipse.tutorial</h1>
            <h2>Eclipse Tutorial</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      <section id="downloads">
        <span class="inner">
          <a href="https://github.com/ecsoya/eclipse.tutorial/zipball/master" class="zip"><em>download sources</em> .ZIP</a><a href="https://github.com/ecsoya/eclipse.tutorial/tarball/master" class="tgz"><em>download sources</em> .TGZ</a>
        </span>
      </section>


      <span class="banner-fix"></span>


      <section id="main_content">
        <h2 class="header-level-1"> {{title}} </h2>
      
      	{{content}}
      
      <ul id="tlyPageGuide" data-tourtitle="REPLACE THIS WITH A TITLE">
  <li class="tlypageguide_left" data-tourtarget=".first_element_to_target">
    <div>
      Here is the first item description. The number will appear to the left of the element.
    </div>
  </li>
  <li class="tlypageguide_right" data-tourtarget="#second_element_to_target">
    <div>
      Here is the second item description. The number will appear to the right of the element.
    </div>
  </li>
  <li class="tlypageguide_top" data-tourtarget=".third_element_to_target > div.is_here">
    <div>
      Here is the third item description. The number will appear above the element.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#fourth_element_to_target">
    <div>
      Here is the fourth item description. The number will appear below the element.
    </div>
  </li>
</ul>
      
      	<hr>
      	
      	{% include disqus.html %}
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <p>this project by <a href="https://github.com/ecsoya">ecsoya</a> can be found on <a href="https://github.com/ecsoya/eclipse.tutorial">GitHub</a></p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
        <p>Ecsoya: Jin Liu (<a href="mailto:jin.liu@soyatec.com">jin.liu@soyatec.com</a>)</p>
        <span class="octocat"></span>
      </footer>

    </div>

    
  </body>
</html>
