<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               id="ecsoya"
               label="Ecsoya">
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <separator
                  name="edit"
                  visible="true">
            </separator>
            <menu
                  label="SubMenu">
               <command
                     commandId="org.eclipse.ui.edit.delete"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.ecsoya.eclipse.tutorial.actions.command"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.ecsoya.eclipse.tutorial.actions.toolbar">
            <control
                  class="org.ecsoya.eclipse.tutorial.actions.SampleToolBarContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ContentOutline">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ContentOutline">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.ecsoya.eclipse.tutorials.editor.OutlineMenu?after=additions">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command2?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.vertical1?after=additions">
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.vertical2?after=additions">
         <command
               commandId="org.eclipse.jdt.debug.ui.commands.Execute"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.command1?after=additions">
         <command
               commandId="org.eclipse.ant.ui.renameInFile"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.ecsoya.eclipse.tutorial.actions.SampleHandler"
            id="org.ecsoya.eclipse.tutorial.actions.command"
            name="Sample Handler">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.xtagnt.window"
               label="window">
            <command
                  commandId="RcpTest.command1"
                  label="打开"
                  style="push">
            </command>
            <separator
                  name="RcpTest.separator1"
                  visible="false">
            </separator>
            <command
                  commandId="RcpTest.command1"
                  label="asdasd"
                  style="push">
            </command>
            <menu
                  label="label">
               <command
                     commandId="RcpTest.command1"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.xtagnt.hands.MyCommands"
            id="RcpTest.command1"
            name="hello">
      </command>
      <keyBinding
            commandId="RcpTest.command1"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Alt+l">
      </keyBinding>
   </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.ecsoya.eclipse.tutorial.actions.key1"
             sequence="org.ecsoya.eclipse.tutorial.actions.key1">
       </key>
    </extension>
</plugin>
